@import url("https://fonts.googleapis.com/css?family=Roboto:100,700|Open+Sans|Rufina");

$fancy: "Rufina", serif; //Admittedly not actually neccesary... will be replaced by the logo when we get one (400)
$title: "Roboto", sans-serif; //500
$body: "Open Sans", sans-serif; //400

body {
    font-family: $body;
    font-weight: normal;
    font-size: rem(16);
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include breakpoint(medium) {
        font-size: rem(18);
    }
}

h1 {
    margin: 0;
    font-family: $title;
    font-size: rem(34);
    font-weight: 100;
    line-height: 1.2;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 rem(16);
    font-family: $title;
    font-size: rem(24);
    font-weight: 700;
    line-height: 1.2;
}

//max line length 45 to 75 characters https://css-tricks.com/equilateral-triangle-perfect-paragraph/
p {
    font-weight: 400;
    margin: 0;

    + p {
        margin-top: rem(16);
    }
}

::selection {
    background-color: rgba($blue-light, 0.5);
}
::-moz-selection {
    background-color: rgba($blue-light, 0.5);
}

a::selection {
    color: white;
}
a::-moz-selection {
    color: white;
}

span {
    vertical-align: middle;
}

hr {
    border: 0;
    border-top: 1px solid $grey-dark;
    margin: 0 0 -1px 0;
}

section {
    margin-bottom: rem(40);
}
.section-title {
    padding-bottom: rem(8);
    border-bottom: 1px solid $grey-dark;
}
