// https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb#eslint-config-airbnb-1
{
  "extends": "airbnb",
  "rules": {
    "linebreak-style": ["error", "windows"],
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "max-len": [1, 200],
    "padded-blocks": [0],
    "spaced-comment": [0],
    "comma-dangle": [0]
  },
  "globals": {
    "window": true,
    "document": true,
    "fetch": true
  }
}
