.SearchForm {
    //form
    display: flex;
    width: 100%;
    position: relative;

    &__label {
        margin-bottom: 0;
        line-height: 1.1;
    }

    &__input.search-form__input {
        //input
        display: block;
        padding-right: 50px;
        width: 100%;
    }

    &__submit {
        //button
        // position: absolute;
        // height: 44px; //===== MAGIC NUMBER!
        // right: 0;
        // bottom: 0;

        // background-color: transparent;
        // border-color: transparent;
        svg {
            fill: $blue-dark;
        }
    }
}
