.a, a {
	text-decoration: none;
	color: $blue-light;
	background-color: transparent;
	text-transform: none;
	padding: 0; 
	&:hover,
	&:active {
		text-decoration: underline;
		background-color: transparent;
	}
	&:focus {
		background-color: transparent;
		outline-color: $blue-light;
		outline-offset: 2px;
		outline-style: solid;
		outline-width: 2px;
	}
}
