/*
input[type='submit'] 
button
<g><rect/><text/></g>
*/
button,
input[type='submit'],
input[type='button'],
.button { 
	padding: rem(12) rem(18) rem(14); //trying to keep buttons and inputs the same height - not really enforced though
	line-height: 1;
	border: 0;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	max-width: 100%;
	display: inline-block;
	background-color: $blue-dark;
	rect { fill: $blue-dark; }
	color: white;
	text { fill: white; }
	border-radius: 2px;

	p { line-height: 44px; } //there should only be a p in an SVGbutton, this is the vertically center the text

	&:hover {
		background-color: $blue-light;
		rect { fill: $blue-light; }
	}
	&:active {
		background-color: $blue-light;
		rect { fill: $blue-light; }
	}
	&:focus {
		background-color: $blue-light;
		rect { fill: $blue-light; }
		outline-color: white;
		outline-offset: -4px;
		outline-style: solid;
		outline-width: 2px;
	}

	svg {
		width: 1em;
		height: 1em;
	}

	&[disabled] {
		background-color: $grey-dark;
		rect { fill: $grey-dark; }
	}

	&.button--secondary {
		background-color: white;
		border: 3px solid $blue-dark;
		rect { 
			stroke-width: 3; 
			stroke: $blue-dark;
			fill: white;
		}
		color: $blue-dark;
		text { fill: $blue-dark; }

		padding: rem(11) rem(15) rem(12);

		&:hover { 
			border-color: $blue-light;
			background-color: $blue-light;
			rect { 
				fill: $blue-light;
				stroke: $blue-light; 
			}
			color: white;
			text { fill: white; }
		}
		&:active { 
			border-color: $blue-light; 
			rect { stroke: $blue-light; }
		}
		&:focus {
			background-color: $blue-light;
			border-color: $blue-light;
			rect {
				fill: $blue-light;
				stroke: $blue-light;
			}
			color: white;
			text { fill: white; }
		}
		&[disabled] {
			border-color: $grey-dark;
			background-color: $grey-dark;
			rect {
				fill: $grey-dark;
				stroke: $grey-dark;
			}
			color: white;
			text { fill: white; }
		}
	}
}
