/*
input[type='submit'] 
button
*/
button,
input[type='submit'],
input[type='button'],
.button { 
	padding: rem(12) rem(18) rem(14); //trying to keep buttons and inputs the same height - not really enforced though
	line-height: 1;
	border: 0;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	max-width: 100%;
	display: inline-block;
	background-color: $dark-blue;
	color: white;
	fill: white;
	border-radius: 2px;
	position: relative;

	&:hover {
		background-color: $link-blue;
	}
	&:active {
		background-color: $link-blue;
		top: 1px;
	}
	&:focus {
		background-color: $link-blue;
		outline-color: white;
		outline-offset: -4px;
		outline-style: solid;
		outline-width: 2px;
	}

	svg {
		width: 1em;
		height: 1em;
	}

	&[disabled] {
		background-color: $rule-color;
	}

	&.button--secondary {
		background-color: white;
		color: $dark-blue;
		border: 3px solid $dark-blue;
		padding: rem(11) rem(15) rem(12);
		&:hover { 
			border-color: $link-blue;
			background-color: $link-blue;
			color: white;
		}
		&:active { border-color: $link-blue; }
		&:focus {
			background-color: $link-blue;
			border-color: $link-blue;
			color: white;
		}
		&[disabled] {
			border-color: $rule-color;
			background-color: $rule-color;
			color: white;
		}
	}
}
