input[type='text'], input[type='password'], input[type='search'], textarea {
	background-color: white;
	padding: rem(7) rem(10);
	outline: none;
	color: black;
	border: 3px solid $grey-d;
	max-width: 100%;

	&:active,
	&:focus {
		border-color: $WL_Blue;
	}
}