/* The status bar indicator
 * a bar between 1 and 100
 */
.status-bar {
    width: 100%;
    height: 6px;
    border-radius: 5px;
    position: relative;
    background-color: #eee;
    -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.15);
    box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.15);

    &__bar {
        position: absolute; 
        top: 1px; bottom: 1px;
        left: 1px;
        border-radius: 3px;
        background-color: #039c15;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(34,255,0,0.3);
        -moz-box-shadow: 0px 0px 5px 0px rgba(34,255,0,0.3);
        box-shadow: 0px 0px 5px 0px rgba(34,255,0,0.3);

        @for $i from 1 through 100 {
            &--#{$i} {  width: $i * 1%; }
        }
    }
}