.claim-detail {
    width: 100%;
    border: 1px solid $grey-d;
    border-radius: 5px;
    padding: rem($pad / 2);

    + .claim-detail {
        margin-top: rem($pad);
    }
    
    &__header { //inside a row
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        &__text {
            font-size: rem(28);
        }

        &__add-argument {
            font-size: rem(15);
        }

    &__status {
        margin-top: rem($pad / 2);
    }

    //css only dos scroll properly vertically. so we're going to do a bit of rotation :P
    &__arguments {
        padding: rem($pad);
        overflow-x: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .argument { 
            width: 21%;
            min-width: 300px; 
            margin: rem($pad / 2);
        }
    }

}