.claim-detail {
    width: 100%;
    border: 2px solid #eee;
    border-radius: 15px;
    padding: rem($pad / 2);

    + .claim-detail {
        margin-top: rem($pad);
    }
    
    &__header { //inside a row
        text-align: center;
        width: 100%;
    }

    &__text {
        font-size: rem(28);
    }

    &__status {
        margin-top: rem($pad / 2);
    }

    //css only dos scroll properly vertically. so we're going to do a bit of rotation :P
    &__arguments {
        padding: rem($pad);
        overflow-x: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .argument { 
            width: 21%;
            min-width: 300px; 
        }
    }

}