


.claim-detail {
    width: 100%;
    border: 1px solid $rule-color;
    border-radius: 5px;
    padding: rem($pad / 2);

    + .claim-detail {
        margin-top: rem($pad);
    }

    &__header { //inside a row
        text-align: center;
        width: 100%;
        margin-bottom: rem($pad / 2);
    }

        &__text {
            font-size: rem(28);
        }

    &__status {
        margin-bottom: rem($pad / 2);
    }

    &__options {
        display: flex;
        justify-content: flex-end;
        font-size: rem(15);
        .button + .button { margin-left: rem($pad / 2); }
    }   


    //css only dos scroll properly vertically. so we're going to do a bit of rotation :P
    &__arguments {
        padding: rem($pad);
        overflow-x: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .argument { 
            width: 21%;
            min-width: 290px; 
            margin: rem($pad / 2);
        }
    }

}