.claim {
    border: 2px solid #eee;
    background-color: white;
    border-radius: 15px;
    padding: rem($pad / 2);
    cursor: pointer;
    display: block;


    + .claim{
        margin-top: rem($pad);
    }

    &__body {
        margin-bottom: rem($pad / 2);
    }


    &:hover {
        border-color: $WL_Blue;
    }

    &--axiom {
        background-color: black;
        color: white;
    }

    &--selected {
        background-color: $WL_Blue;
        color: white;
    }
}