.claim {
    border: 1px solid $grey-c;
    background-color: white;
    border-radius: 5px;
    padding: rem($pad / 2);
    cursor: pointer;
    display: block;

    &__body {
        display: table;
        width: 100%;
    }
        &__status-circle {
            display: table-cell;
            vertical-align: top;
            width: 70px;
        }
        &__text {
            display: table-cell;
            vertical-align: middle;
        }


    + .claim{
        margin-top: rem($pad / 2);
    }



    &:hover {
        border-color: $WL_Blue;
    }

    &--axiom {
        background-color: black;
        color: white;
    }

    &--selected {
        background-color: $WL_Blue;
        color: white;
    }
}