.claim {
    border: 2px solid #eee;
    border-radius: 15px;
    padding: rem($pad / 2);
    cursor: pointer;
    display: block;


    &:nth-child(n+1){
        margin-bottom: rem($pad);
    }

    &__body {
        margin-bottom: rem($pad / 2);
    }


    &:hover {
        border-color: $WL_Blue;
    }

    &--selected {
        background-color: $WL_Blue;
        color: white;
    }
}