.input-button {
    display: flex;
    width: 100%;
    input {
        flex: 1;
        vertical-align: middle;
        margin-bottom: 0;
        border-right-width: 0;
    }
    button {
        vertical-align: middle;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-right: 0;
    }
}