.form {

    &__title {
        padding-bottom: rem($pad);
        font-weight: normal;
    }

    &__label { //most of the time this is a label wrapping a span and an input
        width: 100%;
        display: block;

        + .form__label { margin-top: rem($pad); }
    }
        &__label-text { //span wrapped by the row label
            text-transform: uppercase;
            font-size: rem(14);
            margin-bottom: 7px;
            color: $WL_Blue;
        }

        &__input {
            width: 100%;
        }

    &__submit { //div wrapping the button & a loader (eventually)
        margin-top: rem($pad);
        
        &-button {
            
        }
    }
}