.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $site-width;
    margin: 0 auto;
    color: white;

    a { 
        color: white;
        @include occluded-underline($dark-blue, white, white); 
    }
    
    &__title { //a
        margin: rem(9) rem($pad-small);
        text-align: center;
        display: block;
        font-family: $serif;
        font-size: rem(24);
    }

    &__links {
        padding: 0 rem($pad-small);
        a + a { margin-left: rem($pad-small); }
    }
}