.search-layout {

    &__header {
        margin-bottom: rem($pad-small);
        background-color: $sub-header-background;

        &-content {
            max-width: $site-width;
            margin: 0 auto;
            padding: rem($pad-small);
        }
    }

    &__results {

    }
}