.add-argument-form { //it's not actually a form

    &__parent-claim {
        margin-bottom: rem($pad);
    }

    &__type-toggle {
        margin-bottom: rem($pad);
    }

    &__premis-finder {
        margin-bottom: rem($pad);
    }

    &__argument-simulator {
        margin-bottom: rem($pad / 2);
    }

    &__submit {

    }
}