.type-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__label {
        cursor: pointer;
        background-color: $grey;
        border: 1px solid $grey;
        text-align: center;
        padding: rem($pad / 2); 
        width: 48%;
    }
        &__input {

        }
        &__text {

        }
}