.footer {
  margin-top: auto; //pushes it to the bottom of the screen
  display: flex;
  justify-content: space-between;
  font-size: rem(14);

  &__col {
    flex-grow: 1;
    text-align: left;
    padding-top: rem($pad);
    padding-bottom: rem($pad);

    + .footer__col {
        padding-left: rem($pad);
        text-align: right;
    }
  }
    &__util-link {
      margin: 2px 5px;
    }

  a {
    @include occluded-underline($blue-light, $footer-background); 
  }
}