.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $site-width;
    margin: 0 auto;
    color: white;

    a { 
        color: white;
        @include occluded-underline(white, $dark-blue); 
    }
    
    a.header__title {
        margin: rem(9) rem($pad-small);
        text-align: center;
        display: block;
        font-family: $serif;
        font-size: rem(24);
        background-position: 0 1.2em;
    }

    &__links {
        padding: 0 rem($pad-small);
        a + a { margin-left: rem($pad-small); }
    }
}