/*
Universal!
The blue header, 
the body, 
the eeeeee footer
*/

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  &__header { 
    background-color: $header-background;
    color: $header-color;
  }
  
  &__body {}
  &__footer {
    margin-top: auto;
    background-color: $footer-background;
    color: $footer-color;
  }

  &__status-bar {
    background-color: $header-background;
    transition: height 0.2s ease;
  }

  &--no-scroll {
    height: 100vh;
    overflow: hidden;
  }
}