/*
Universal!
The blue header, 
the body, 
the eeeeee footer
*/

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__header { 
    background-color: $header-background;
    border-bottom: 1px solid $sub-header-background; 
  }
  
  &__body {}
  &__footer {
    margin-top: auto;
    background-color: #eeeeee;
  }
}