.claim-chain-argument {
    padding: rem($pad);
    //text-align: center;

    &__premis {
        cursor: pointer;
        &:hover {
            color: blue;
        }

        &--highlighted {
            font-weight: bold;
        }
    }
}