.search-form { //form
    display: block;
    width: 100%;
    position: relative;

    &__input.search-form__input  { //input
        display: block;
        padding-right: 50px;
    }

    &__submit { //button
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        background-color: transparent;
        border-color: transparent;
        svg {
            fill: $dark-blue;
        }
    }
}