.modal {
    position: fixed;
    z-index: 5;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__body {
        background-color: white;
        border: 1px solid $grey-e;
        border-radius: 5px;
        max-height: 100%;
        overflow: auto;
    }
        &__header {
            background-color: $grey-e;
            border-bottom: 1px solid $grey-d;
            padding: rem($pad / 2);
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
            &__title {
                margin: 0 rem($pad) 0 0;
            }
        &__content {
            padding: rem($pad);

        }
}