$oldIE: false !default;

$pad: 16;

$border-radius: 5px;

// Spacing
// ------------------------------------------------------------------------------
$site-width: 1024px;
$sidebarWidthSmall: 190px;
$sidebarWidthMedium: 270px;
