.layout-cols-2 {

    &__left { margin-bottom: rem(20); }
    &__right { margin-bottom: rem(20); }
    
    @include breakpoint('tiny') {
        display: table;

        &__left,
        &__gap,
        &__right {
            display: table-cell;
            vertical-align: top;
            margin-bottom: 0;
            
            .card { margin-top: 0; }
        }

        &__gap { 
            width: 5px; 
            &--10 { width: 10px; }
            &--30 { width: 30px; }
        }

        &--5050 {
            .layout-cols-2__left { width: 50%; }
        }

        &--vertical-center {
            .layout-cols-2__left,
            .layout-cols-2__right {
                vertical-align: middle;
            }
        }

        &--vertical-top {
            .layout-cols-2__left,
            .layout-cols-2__right {
                vertical-align: top;
            }
        }
    }
}