.page {

  &__header {
    background-color: $page-title-background;
    padding: rem($pad-small) 0;
  }

  &__body {
    padding: rem($pad-small) 0;
    &--graph {
      padding: 0;
      position: relative;
    }
  }
}