$oldIE: false !default;

$pad: 16;
$pad-small: 20; //mobile / touch screen users will need more padding for their fingers
$pad-medium: 5; //larger screens are likley to be using a mouse.

$border-radius: 5px;

// Spacing
// ------------------------------------------------------------------------------
$site-width: 1024px;
$sidebarWidthSmall: 190px;
$sidebarWidthMedium: 270px;