/* colors */
$WL_Red:		  #f05d65; 
$WL_Red--light:   #fcf2f3;
$WL_Green:		  #31D332; 
$WL_Green--light: #31D332; 
$WL_Blue: 		  #5f9aec;

$dark-blue:     #111F2E; $header-background: $dark-blue;
$light-blue:    #0a4471;
$link-blue:     #0a88c5;

/* shades of grey */
$grey-e:		#eeeeee; $sub-header-background: $grey-e;
$grey-d:		#dddddd;
$grey-c:		#cccccc;
$grey-b:		#bbbbbb;
$grey-a:		#aaaaaa;
$grey-6:		#6f8db9;
$grey-5:		#5e7ca8;
$grey-4:		#4e6a92;
$grey-3:		#375073;
$grey-2:		#223856;
$grey-1:		#131E2D;  //default grey-dark
$text-black: 	rgba(0,0,0,0.87);

//Cool pallet
$g6: #EEE7DB;
$g5: #CDC3BD;
$g4: #CCBDC1;
$g3: #ADA0A2;
$g2: #5D495F;
$g1: #4C2455;

