@mixin occluded-underline($textShadowColor, $underlineColor, $underlineHoverColor){
    text-decoration: none;
    background-image: linear-gradient(transparent 50%, rgba($underlineColor, 0.1) 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 95%;
    text-shadow: .03em 0 0 $textShadowColor,.06em 0 0 $textShadowColor,.09em 0 0 $textShadowColor,.12em 0 0 $textShadowColor,.15em 0 0 $textShadowColor,-.03em 0 0 $textShadowColor,-.06em 0 0 $textShadowColor,-.09em 0 0 $textShadowColor,-.12em 0 0 $textShadowColor,-.15em 0 0 $textShadowColor;

    &:hover {
        background-image: linear-gradient(transparent 50%, $underlineHoverColor 50%);
    }

    &::selection { 
        background: $underlineHoverColor;
        text-shadow: none; 
    }
}