


.claim-detail {
    width: 100%;
    // border: 1px solid $rule-color;
    // border-radius: 5px;
    // padding: rem($pad / 2);

    + .claim-detail {
        margin-top: rem($pad);
    }

    &__header { //inside a row
        width: 100%;
        margin-bottom: rem($pad);
        overflow: hidden; //so the status indicator doesn't blow out
    }
        &__status {
            display: block;
            float: left;
            margin-right: 10px;
        }
        &__text {
            font-size: rem(28);
            position: relative;
            top: 4px;
        }


    &__arg-buttons { //2 column layout classes
        margin-bottom: rem($pad);
    }

    &__arg-builder { //2 column layout classes
        margin-bottom: rem($pad);
    }

    &__arguments {
        padding: rem($pad);
        overflow-x: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .argument { 
            width: 21%;
            min-width: 290px; 
            margin: rem($pad / 2);
        }
    }

}