.argument-builder {
  border-radius: 5px;
  
  &--SUPPORTS {
    .argument-builder__sim {
      border: 1px solid $WL_Green;
      background-color: $WL_Green-light;
    }
  }
  
  &--OPPOSES {
    .argument-builder__sim {
      border: 1px solid $WL_Red;
      background-color: $WL_Red-light;
    }
  }

  //the buttons that let you select which side your argument is for
  &__side-buttons {
    padding-bottom: rem($pad);
  }

  //This wraps the argument creation content - above are the type buttons, below is the publish option
  &__workbench {
    
  }
  
  //this is what the argument will look like when it's published
  &__sim {
    padding: rem($pad / 2);
  }
    &__title {
      margin-bottom: rem($pad);
    }
    &__body {
      margin-bottom: rem($pad);
    }
  &__publish {
    text-align: right;
    margin-bottom: rem($pad);
    position: relative;
    top: -1px;
  }

  &__crafting-table {
    background-color: white;
    border: 1px solid $rule-color;
    padding: rem($pad);
  }
    &__search {
      margin-bottom: rem($pad);
    }
    &__create {

    }
    &__create-new-premise-button {
      position: relative;
      top: -10px;

      button {
        display: block;
        margin-left: auto;
      }
    }
}