.sidebar-layout {
    $block: &;

    display: flex;
    flex-direction: row;
    align-items: streatch;

    &__side {
        width: rem(300);
        flex: none;
        padding: rem($pad / 2);
        padding-bottom: 0;
    }

    &__main {
        flex-grow: 1;
        padding: rem($pad / 2);
    }

    &--left {
        #{$block}__side {
            order: 1;
        }
        #{$block}__main {
            order: 2;
        }
    }

    &--right {
        #{$block}__side {
            order: 2;
        }
        #{$block}__main {
            order: 1;
        }
    }
}
