/* 
VARIABLES & MIXINS
For Sass
*/
@import "_sass/1_vars_and_mixins/**/*.scss";

/*
BASE
Base styling for the native html elements
*/
@import "_sass/2_base/**/*.scss";

/*
LAYOUTS
columns, sidebars, grids, layout things!
*/
@import "_sass/3_layouts/**/*.scss";

/*
UNIVERSALS
site header, footer, the main layout, things that are on every page
*/
@import "_sass/4_universals/**/*.scss";

/*
COMPONENTS
styles are set in sass alongside the components. (in the components folder).
*/
@import "components/**/*.scss";

/* UTILITIES - single responsability classes */
.text-align-left { text-align: left !important; }