/* 
VARIABLES & MIXINS
Sass things / settings for use throughout the styles.
*/
@import "sass/1_vars_and_mixins/**/*.scss";

/*
BASE
The base styling that underlies everything. Generally speaking, these are the native html elements
*/
@import "sass/2_base/**/*.scss";

/*
LAYOUTS
These create the layout structurs within which components will live.

*/
@import "sass/3_layouts/**/*.scss";

/*
NUKES / utiility classes / atomic classes
Single responsability classes. for those times when it makes life easier to just put a class in the html to tweak something.
 */
@import "sass/4_nukes/**/*.scss";

/*
COMPONENTS
styles are set in sass alongside the components. (in the components folder).
*/
@import "components/**/*.scss";

//a linking to root
.site-flag {
    color: white;
    margin: rem(9) 0;
    text-align: center;
    display: block;
    &:hover {
        //border-bottom: 0;
    }

    &__title {
        font-family: $serif;
        font-size: rem(24);
    }
    &__tagline {
        font-size: rem(15);
    }
}


.language-selector {

    &__current {
        font-family: $serif;
        color: white;
    }

    &__dropdown {
        display: none;
    }
}

.footer {
    margin-top: auto; //pushes it to the bottom of the screen
    display: flex;
    justify-content: space-between;
    font-size: rem(14);


    &__col {
        padding: rem($pad-small);
        flex-grow: 1;

        text-align: left;
        + .footer__col {
            text-align: right;
        }
    }   
}

