/* 
VARIABLES & MIXINS
For Sass
*/
@import "_sass/1_vars_and_mixins/**/*.scss";

/*
BASE
Base styling for the native html elements
*/
@import "_sass/2_base/**/*.scss";

/*
LAYOUTS
columns, sidebars, grids, layout things!
*/
@import "_sass/3_layouts/**/*.scss";

/*
UNIVERSALS
site header, footer, the main layout, things that are on every page
*/
@import "_sass/4_universals/**/*.scss";

/*
COMPONENTS
styles are set in sass alongside the components. (in the components folder).
*/
@import "components/**/*.scss";
@import "scenes/**/*.scss";

/* UTILITIES - single responsability classes */
.text-align-left, .text-left { text-align: left !important; }
.text-right { text-align: right !important; }

.display-inline-block { display: inline-block; }

.width-100 { width: 100% !important; }
.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }

.padding { padding: rem(($pad / 2)-1) rem($pad) rem(($pad / 2)+1); }

.pad { 
  margin: rem($pad) rem($pad) -1px 0; 
  padding: 1px 1px 0 0;
}

.hi {
  color: black;
  background: green;
}