/*
input[type='submit'] 
button
*/
button,
input[type='submit'],
input[type='button'],
.button { 
	padding: rem(10) rem(15);
	line-height: 1;
	border: 0;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	max-width: 100%;
	display: block;
	background-color: $dark-blue;
	border: 4px solid $dark-blue;
	color: white;
	fill: white;

	&:hover,
	&:focus {
		border-color: $WL_Blue;
	}
	&:active {
		background-color: $WL_Blue;
	}

	svg {
		width: 1em;
		height: 1em;
	}
}
